/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans,Segoe UI,Tahoma,sans-serif;
  /* line-height: 1.5; */
}

img {
  max-width: 100%;
  height: auto;
  /* debug */
  /* max-height: 1000px; */
}


a {
  text-decoration: none;
}


/* regole di debug */
[class*="col-"] {
  /* min-height: 100px;
  background-color: lightgreen;
  border: solid 1px  #000;
  padding: 0px; */
}


/* comuni a più sezioni */
.centra-head-foot{
  padding: 0 10%;
}

.centra-sez1-3 {
  padding: 5% 5%;
}

/* header */

header nav{
  background-color: white;

  /* padding-top: 100px; */
}

#nav-large {

  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  /* z-index: 900; */
}


#nav-mobile {
  display: none;
}

.jumbotron {
  /* padding-top: 50px;
  min-height: 300px; */
  position: relative;
  text-align: center;
  /* color: white; */
}

.jumbotext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


header a {
  text-decoration: none;
  color: black; /*stesso colore del testo*/
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header li {
  float: left;
}

header li a {
  display: block;
  text-align: center;
  padding-left: 10px;
  text-decoration: none;
}

/* sezione1 prodotti  */

.grigino-prodotti {
  background-color: rgb(250, 250, 250);
  text-align: center;
}

.pdt1 {
  padding-right: 2%;
}
.pdt2 {
  padding-left: 2%;
}

/* sezione2 anziano monopattino iphone */
.mono-old-phone {
  background-color: red;
  position: relative;
}


#iphone {
  max-height: 200px;
  max-width: auto;
  z-index: 1;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* sezione3 smart mobility */

.centra-sez1 {
  /* VEDI SEZIONE PRODOTTI */
}


.relative {
  position: relative;
}

.destra {
  position: absolute;
  top: 40%;
  left: 20%;
  width: 100%;
  text-align: center;
}

.sopra {
  position: absolute;
  top: 5%;
  width: 100%;
  text-align: center;
}


/* sezione social */
.container-social {
  position: relative;
  text-align: center;
}

.centered-social {
  padding-top: 4%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 50%;
  width: 30%;
}

#social {
  margin-bottom: 2%;
}

#social .fab {
  color: black;
}


/* INIZIO CSS FOOTER */

footer {
  background-color: #000000;
}

.footertext {
  color: white;
}

.footerbottom {
  border-bottom: 1px solid grey;
}

/* regole uguali tra le sezioni */

footer ul {
  list-style-type: none;
}

footer li a {
  text-decoration: none;
  display: block;
}

.footer1 li a {
  color: grey;
}

.footer2 ul {
  overflow: hidden;
}

.footer2 li {
  float: left;
}

.footer2 a {
  color: white;
  text-align: center;
}

.footer2 .fab {
  color: white;
}


/* FINE CSS FOOTER */



/* regole corpo pagina */

.mono-old-phone {

}

/* MEDIA QUERY */

/* versione smartphone */
@media all and (max-width: 768px) {

  /* heder */
  /* nav */
  .nav-tit {
    font-size: 13px;
    font-weight: bold;
  }

  .nav-menu {
    font-size: 10px;
  }
  /* fine nav */

  /* inizio main */
  /* sezione1 */
  .sez1title {
    font-size: 20px;
    padding-top: 5%;
    padding-bottom: 2%;
  }

  .sez1subtitle {
    font-size: 13px;
    padding-bottom: 2%;
  }

  .sez1link {
    color: blue;
    font-size: 12px;
  }

  .grigino-prodotti a {
    color: blue;
  }
  /* fine sezione 1 */

  /* inizio sezione2 vecchio */
  /* fine sezione 2 vecchio */

  /* inizio sezione 3 le tre fotone */
  .sez3title {
    font-size: 26px;
    color: white;
  }

  .sez3subtitle {
    font-size: 13px;
    color: white;
  }
  .sez3link {
    font-size: 13px;
    color: white;
  }

  .fotonasez3 {
    margin-top: 25%;
    padding-bottom: 3%;

  }

  .fotinasez3sin {
    padding-bottom: 5%;
  }

  .fotinasez3dest {

  }

  /* fine sezione 3 */

  /* inizio sezione 4 collage */
  .socialtitle {
    font-size: 16px;
  }
  /* fine sezione 4 collage */

  /* INIZIA IL FOOOOOOTER */

  .footer1 li a {
    color: grey;
    font-size: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .footer1title {
    font-size: 15px;
    font-weight: bold;
    padding-top: 30px;
  }

  .footer1titles {
    font-size: 12px;
    font-weight: bold;
    padding-top: 30px;
  }

  .footer2titles {
    font-size: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .bottonefooter {
    border: 2px solid white;
    border-radius: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    max-height: 80px;
  }

  .footer2 ul {
    padding-top: 30px;
    padding-bottom: 30px;
  }



}

/* versione tablet */
@media all and (min-width: 769px) and (max-width: 992px) {

  /* heder */
  /* nav */
  .nav-tit {
    font-size: 13px;
    font-weight: bold;
  }

  .nav-menu {
    font-size: 10px;
  }
  /* fine nav */

  /* jumbotron */
  .jumbotitle {
    color: white;
    font-size: 36px;
    padding-bottom: 3%;
  }

  .jumbosubtitle {
    color: white;
    font-size: 13px;
    padding-bottom: 3%;
  }

  .jumbobutton {
    border-radius: 5%;
  }
  /* fine jumbotron */
  /* fine header */

  /* inizio main */
  /* sezione1 */
  .sez1title {
    font-size: 20px;
    padding-top: 5%;
    padding-bottom: 2%;
  }

  .sez1subtitle {
    font-size: 13px;
    padding-bottom: 2%;
  }

  .sez1link {
    color: blue;
    font-size: 12px;
  }

  .grigino-prodotti a {
    color: blue;
  }
  /* fine sezione 1 */

  /* inizio sezione2 vecchio */
  /* fine sezione 2 vecchio */

  /* inizio sezione 3 le tre fotone */
  .sez3title {
    font-size: 26px;
    color: white;
  }

  .sez3subtitle {
    font-size: 13px;
    color: white;
  }
  .sez3link {
    font-size: 13px;
    color: white;
  }

  .fotonasez3 {
    padding-bottom: 3%;
  }

  .fotinasez3sin {
    padding-right: 2%;
  }

  .fotinasez3dest {
    padding-left: 2%;
  }
  /* fine sezione 3 */

  /* inizio sezione 4 collage */
  .socialtitle {
    font-size: 16px;
  }
  /* fine sezione 4 collage */

  /* INIZIA IL FOOOOOOTER */

  .footer1 li a {
    color: grey;
    font-size: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .footer1title {
    font-size: 15px;
    font-weight: bold;
    padding-top: 30px;
  }

  .footer1titles {
    font-size: 12px;
    font-weight: bold;
    padding-top: 30px;
  }

  .footer2titles {
    font-size: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .bottonefooter {
    border: 2px solid white;
    border-radius: 5%;
    margin: 10%;
  }

  .footer2 ul {
    padding-top: 30px;
    padding-bottom: 30px;
  }


}

/* versione desktop */
@media all and (min-width: 993px) {

  /* heder */
  /* nav */
  .nav-tit {
    font-size: 13px;
    font-weight: bold;
  }

  .nav-menu {
    font-size: 10px;
  }
  /* fine nav */

  /* jumbotron */
  .jumbotitle {
    color: white;
    font-size: 36px;
    padding-bottom: 3%;

  }
  .jumbosubtitle {
    color: white;
    font-size: 13px;
    padding-bottom: 3%;
  }
  .jumbobutton {
    border-radius: 5%;
  }
  /* fine jumbotron */
  /* fine header */

  /* inizio main */
  /* sezione1 */
  .sez1title {
    font-size: 20px;
    padding-top: 5%;
    padding-bottom: 2%;
  }

  .sez1subtitle {
    font-size: 13px;
    padding-bottom: 2%;
  }

  .sez1link {
    font-size: 12px;
  }

  .grigino-prodotti a {
    color: blue;
  }
  /* fine sezione1 */


  /* inizio sezione2 vecchio */
  /* fine sezione 2 vecchio */

  /* inizio sezione 3 le tre fotone */

  .sez3title {
    font-size: 26px;
    color: white;
  }

  .sez3subtitle {
    font-size: 13px;
    color: white;
  }
  .sez3link {
    font-size: 13px;
    color: white;
  }

  .fotonasez3 {
    padding-bottom: 3%;
  }

  .fotinasez3sin {
    padding-right: 2%;
  }

  .fotinasez3dest {
    padding-left: 2%;
  }
  /* fine sezione 3  */

  /* inizio sezione 4 collage */
  .socialtitle {
    font-size: 16px;
  }
  /* fine sezione 4 collage */

  /* INIZIA IL FOOOOOOTER */

  .footer1 li a {
    color: grey;
    font-size: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .footer1title {
    font-size: 15px;
    font-weight: bold;
    padding-top: 30px;
  }

  .footer1titles {
    font-size: 12px;
    font-weight: bold;
    padding-top: 30px;
  }

  .footer2titles {
    font-size: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .bottonefooter {
    border: 2px solid white;
    border-radius: 5%;
    margin: 10%;
  }

  .footer2 ul {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  /* FINEFOOOOOTER */



}
